{% extends 'base.html' %}
{% block title %}欢迎光临首页{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nprogress.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nivo-slider.css') }}" type="text/css"
          media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}" type="text/css" media="screen">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nivo.slider.pack.js') }}"></script>
    <script src="{{ url_for('static', filename='js/nprogress.js') }}"></script>
    <div style="width: 760px;margin: 0px auto">
        <div class="container-fluid main-container" id="main-container">
            <div class="row top-title">
                <div class="col-md-12">
                    <h1 class="page-title">
                        关于咸鱼
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 post-container">
                    <h2 class="post-title">
                        <a href="about.php" rel="bookmark">
                            关于咸鱼
                        </a>
                    </h2>
                    <div class="post-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="thumbnail">
                                    <a href="javascript:;">
                                        <img title="关于我 @Ybsat" src="{{ url_for('static',filename='img/about.png') }}"
                                             alt="关于我 @Ybsat"
                                        />
                                    </a>
                                    <div class="caption">
                                        <h3>
                                            个人概况
                                        </h3>
                                        <p>
                                            一个热爱编程的并且有梦想的咸鱼，对后端和前端交互感兴趣，希望借此来增强自己的能力并完成一些想要完成的事情。
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" id="simple-intro">
                            <div class="panel-body">
                                <h3>
                                    咸鱼概述
                                </h3>
                                <p>
                                    咸鱼是一个自由开放的个人博客，用来记录我的经历和学习心得，以及一些珍贵的照片。咸鱼全部由我个人开发，并把代码托管在Github上。
                                </p>
                                <p>
                                    我的联系方式：
                                </p>
                                <blockquote class="contact-list" id="about-list">
                                    <ul>
                                        <li>
                                            电子邮箱:
                                            <kbd>
                                                547137554@qq.com
                                            </kbd>
                                        </li>
                                        <li>
                                            腾讯QQ:
                                            <kbd>
                                                547137554
                                            </kbd>
                                        </li>
                                        <li>
                                            新浪微博:
                                            <kbd>
                                                http://weibo.com/u/3754407553
                                            </kbd>
                                        </li>
                                        <li>
                                            我的GIT:
                                            <kbd>
                                                https://github.com/liuxingpuu/
                                            </kbd>
                                        </li>
                                    </ul>
                                </blockquote>
                            </div>
                        </div>
                        {#                        <div class="panel panel-default">#}
                        {#                            <div class="panel-body clearfix">#}
                        {#                                <h3>#}
                        {#                                    往事如烟#}
                        {#                                </h3>#}
                        {#                                <p>#}
                        {#                                    暂未开发暂未开发暂未开发暂未开发暂未开发暂未开发暂未开发暂未开发暂未开发暂未开发暂未开发暂未开发暂未开发暂未开发暂未开发暂未开发暂未开发暂未开发暂未开发暂未开发暂未开发暂未开发暂未开发暂未开发暂未开发#}
                        {#                                </p>#}
                        {#                                <footer class="pull-right">#}
                        {#                                    九月落笔于#}
                        {#                                    <cite title="郑州">#}
                        {#                                        郑州#}
                        {#                                    </cite>#}
                        {#                                </footer>#}
                        {#                            </div>#}
                        {#                        </div>#}
                    </div>
                    <div class="meta-box">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>
{% endblock %}