{% extends 'base.html' %}
{% block title %}欢迎光临首页{% endblock %}

{% block content %}
    <style>
        code > span, code > span > span {
            color: black !important;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nprogress.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nivo-slider.css') }}" type="text/css"
          media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}" type="text/css" media="screen">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nivo.slider.pack.js') }}"></script>
    <script src="{{ url_for('static', filename='js/nprogress.js') }}"></script>
    <div style="width: 760px;margin: 0px auto">
        <div class="container-fluid main-container" id="main-container">
            <div class="row top-title">
                <div class="col-md-12">
                    <h1 class="page-title">
                        文章列表
                    </h1>
                </div>
            </div>
            <table class="table">
                <tr>
                    <th>标题</th>
                    <th>标签</th>
                    <th>作者</th>
                    <th>创作时间</th>
                    <th colspan="2">详情</th>
                </tr>
                {% for obj in objs %}
                    <tr>
                        <td><a href="{{ url_for('main.article',article_id=obj.id) }}">{{ obj.title }}</a></td>
                        <td>{{ obj.tags }}</td>
                        <td>liuxingpuu</td>
                        <td>{{ obj.created_time }}</td>
                        <td><a href="{{ url_for('main.edit_article',article_id=obj.id) }}">编辑</a></td>
                        <td><a href="javascript:if(confirm('确认删除吗?'))location='{{ url_for('main.delete_article',article_id=obj.id) }}'">删除</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}