<html>
<head>
    {% if title %}
        <title>{{ title }} - 咸鱼</title>
    {% else %}
        <title>咸鱼</title>
    {% endif %}
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
<header class="header">
    <ul>
        <li class="cor-1"></li>
        <li class="cor-2"></li>
        <li class="cor-3"></li>
        <li class="cor-4"></li>
        <li class="cor-5"></li>
    </ul>
</header>
<div class="wrap">
    <nav class="menu">
        <ul>
            <li>
                <a style="text-decoration: none" href="{{ url_for('main.index') }}">首页</a>
            </li>
            <li>
                <a style="text-decoration: none" href="{{ url_for('main.article_list') }}">文章</a>
            </li>
            <li>
                <a style="text-decoration: none" href="{{ url_for('main.photo_album') }}">相册</a>
            </li>
            {% if current_user.id %}
                <li>
                    <a style="text-decoration: none" href="{{ url_for('main.edit_article') }}">写文章</a>
                </li>
            {% endif %}
            <li>
                <a style="text-decoration: none" href="{{ url_for('main.about_me') }}">关于</a>
            </li>
            {% if current_user.id %}
                <li style="float: right">
                    <a style="text-decoration: none" href="{{ url_for('auth.signout') }}">退出</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <aside class="sidebar">
        <div class="widget">
            <h2>咸鱼</h2>
            <p>Hello, 我的名字是 <b>刘行朴</b>.<br>
                联系我:<br><b>QQ邮箱：547137554@qq.com</b><br>
                <b>Github</b>：<a style="text-decoration: none;" href="https://github.com/liuxingpuu">github.com/liuxingpuu</a>
            </p>
        </div>
        <div class="widget">
            <h2>最新发表</h2>
            <p><a>Flask框架简介(Python/Flask)</a></p>
            <p><a>Hello World(程序/入门)</a></p>
        </div>
    </aside>
    <div style="display: inline-block;float: right;width: 800px">
        {% block content %}
        {% endblock %}
        <!-- 网站底部 -->
        <footer>
            <!--版权信息-->
            <div class="copyright">
                <a>
                    Theme Salted-fish by liuxingpuu
                </a>
            </div>
        </footer>
    </div>
</div>


</body>
</html>