<html>
<head>
    {% if title %}
        <title>{{ title }} - 咸鱼</title>
    {% else %}
        <title>咸鱼</title>
    {% endif %}
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
<header class="header">
    <ul>
        <li class="cor-1"></li>
        <li class="cor-2"></li>
        <li class="cor-3"></li>
        <li class="cor-4"></li>
        <li class="cor-5"></li>
    </ul>
</header>
<div class="wrap">
    <nav class="menu">
        <ul>
            <li>
                <a style="text-decoration: none" href="{{ url_for('main.index') }}">首页</a>
            </li>
            <li>
                <a style="text-decoration: none" href="{{ url_for('main.article_list') }}">文章列表</a>
            </li>
            <li>
                <a style="text-decoration: none" href="{{ url_for('main.photo_album') }}">相册</a>
            </li>
            {% if current_user.id %}
                <li>
                    <a style="text-decoration: none" href="{{ url_for('main.add_article') }}">发表文章</a>
                </li>
            {% endif %}
            <li>
                <a style="text-decoration: none" href="{{ url_for('main.about_me') }}">关于</a>
            </li>
            {% if current_user.id %}
                <li style="float: right">
                    <a style="text-decoration: none" href="{{ url_for('auth.signout') }}">退出</a>
                </li>
                {% elif not current_user.id %}
                <li style="float: right">
                <a style="text-decoration: none" href="{{ url_for('auth.signin') }}">管理员登陆</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <aside class="sidebar">
        <div class="widget">
            <h2>咸鱼</h2>
            <p>Hello, 我的名字是 <b>刘行朴</b>.<br>
                联系我:<br><b>QQ邮箱：547137554@qq.com</b><br>
                <b>Github</b>：<a style="text-decoration: none;" href="https://github.com/liuxingpuu">github.com/liuxingpuu</a>
            </p>
        </div>
        <div class="widget">
            <h2>公告</h2>
            <p id="notice"></p>
            {% if current_user.id %}
            <a style="float: right" href="{{ url_for('main.add_notice') }}">公告管理</a>
            {% endif %}
        </div>
        <div class="widget">
            <h2>最新发表</h2>
            <p><a>Flask框架简介(Python/Flask)</a></p>
            <p><a>Hello World(程序/入门)</a></p>
        </div>
    </aside>
    <div style="display: inline-block;float: right;width: 800px">
        {% block content %}
        {% endblock %}
        <!-- 网站底部 -->
        <footer>
            <!--版权信息-->
            <div class="copyright">
                <a>
                    Theme Salted-fish by liuxingpuu
                </a>
                <br>
                友情链接:
                <a href="vultr.com" style="color: #08c">
                    Vultr
                </a>
                <a href="http://weibo.com/5249464563" style="color: #08c">
                    异步网络
                </a>
            </div>
        </footer>
    </div>
</div>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script>
    $(document).ready(function () {
                $.ajax({
                    type:'get',
                    url:"{{ url_for('main.notice') }}",
                    async:false,
                    success:function (data) {
                        $('#notice').text(data['errmsg'])
                    }
                })
            }
    );
</script>

</body>
</html>