<html>
<head>
    {% if title %}
    <title>{{ title }} - 咸鱼</title>
    {% else %}
    <title>咸鱼</title>
    {% endif %}
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
<header class="header">
    <ul>
        <li class="cor-1"></li>
        <li class="cor-2"></li>
        <li class="cor-3"></li>
        <li class="cor-4"></li>
        <li class="cor-5"></li>
    </ul>
</header>
<div class="wrap">


    <nav class="menu">
        <ul>
            <li>
                <a href="#">首页</a>
            </li>
            <li>
                <a href="#">文章</a>
            </li>
            <li>
                <a href="#">相册</a>
            </li>
            <li>
                <a href="#">关于我</a>
            </li>
            <li style="float: right">
                <a href="#">退出</a>
            </li>
        </ul>
    </nav>
    <aside class="sidebar">
        <div class="widget">
            <h2>咸鱼</h2>
            <p>Hello, 我的名字是 <b>刘行朴</b>. 我是一个 <b>咸鱼</b>.<br>
                联系我:<br><b>547137554@qq.com</b></p>
        </div>
        <div class="widget">
            <h2>标题</h2>
            <p></p>
        </div>

    </aside>
    {% block content %}{% endblock %}
</div>
</body>
</html>