{% extends 'base.html' %}
{% block title %}欢迎光临首页{% endblock %}

{% block content %}
    <div style="width: 760px;margin: 25px auto">
<p>
    这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临
    这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临
    这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临
    这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临
    这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临
    这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临
    这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临
    这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临
    这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临
    这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临
    这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临
    这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临
    这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临
    这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临
    这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临
    这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临
    这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临
    这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临
    这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临
    这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临
    这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临
    这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临
    这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临
    这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临这里是首页，欢迎光临

</p>
    </div>
{% endblock %}