{% extends 'base.html' %}
{% block title %}欢迎光临首页{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nprogress.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nivo-slider.css') }}" type="text/css"
          media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}" type="text/css" media="screen">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nivo.slider.pack.js') }}"></script>
    <script src="{{ url_for('static', filename='js/nprogress.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fancybox.js') }}"></script>
    <div style="width: 760px;margin: 0 auto">
        <div class="container-fluid main-container" id="main-container">
            <div class="row top-title">
                <div class="col-md-12">
                    <h1 class="page-title">相册</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 post-container">
                    <h2 style="display: inline-block" class="post-title"><a href="#" rel="bookmark">照片列表</a></h2>
                    {% if current_user.id %}
                        <button style="display:inline-block;margin-top:20px;padding: 5px 15px;float: right;font-size: 16px"
                                class="button bg-sub" onclick="window.location.href='{{ url_for('main.img_upload') }}'">
                            上传照片
                        </button>
                    {% endif %}
                    <div class="meta-box"></div>
                    <div class="post-content">
                        <p>存放一些照片。</p>
                        <p>点击图片可以查看大图</p>
                        <hr/>
                        <div class="book-container clearfix">
                            {% for photo in photos %}
                                <div class="meta-box"></div>
                                <div style="height: 20%" class="row">
                                    {% for i in photo %}
                                        <div class="col-md-3">
                                            <img class="img" data-toggle="modal" data-target="#myModal"
                                                 src="{{ i.photo_url }}" alt="" width="100%"/>
                                            {% if current_user.id %}
                                            <a style="margin-left: 60px" href="javascript:if(confirm('确认删除吗?'))location='{{ url_for('main.delete_photo',id=i.id) }}'">删除</a>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="meta-box"></div>
                </div>
            </div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <span style="color: black" aria-hidden="true">&times;</span>
                            </button>
                            <img style="margin-top: 10px" class="imgpreview" src="">
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#myModal").on("hidden", function () {
                $(this).removeData("modal");
            })
        });
        $('.img').on('click', function () {
            $('.imgpreview').attr('src', $(this).attr('src'));
        });
    </script>
{% endblock %}