<html>
<head>
    {% if title %}
    <title>{{ title }} - 咸鱼</title>
    {% else %}
    <title>咸鱼</title>
    {% endif %}
    <!--<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/welcome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pintuer.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pintuer.js') }}"></script>
</head>
<body>
<div id="wrapper">
    <div id="mydialog">
        <div class="dialog">
            <div class="dialog-head">
                <span class="close rotate-hover"></span><strong>请登陆</strong>
            </div>
            <div class="dialog-body">
                <form action="" method="post">
                    <input id="username" name="username" placeholder="请输入用户名" required="" type="text" autocomplete="off" step="4">
                    <input id="password" name="password" placeholder="请输入密码" required="" type="password">
                </form>
            </div>
            <div class="dialog-foot">
                <a href="#">游客访问</a>
                <button class="button dialog-close">
                    登陆
                </button>
                <button class="button bg-green">
                    注册
                </button>
            </div>
        </div>
    </div>
    <button class="signin button border-sub dialogs" data-toggle="click" data-target="#mydialog" data-mask="1"
            data-width="25%">sign in
    </button>
    <div id="info">
        <div id="info-content">
            <h1><strong>Salted－fish</strong>咸 鱼</h1>
            <p>有梦想的咸鱼，并努力一直向上</p>
        </div>
    </div>
</div><!-- #wrapper -->
</body>
</html>